APP_NAME="Ecommerce API"
DEBUG=false
APP_ENV=local
APP_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fsatapi_ecommerce
DB_USERNAME=
DB_PASSWORD=
